Repository faasm/faasm, pull requests merged in 2021-06, with the labels that each got.

#443 Fix SGX build
  CMakeLists.txt
  cmake/ExternalProjects.cmake
  docs/debugging.md
  include/sgx/SGXWAMRWasmModule.h
  include/sgx/enclaveConfig.h
  include/sgx/faasm_sgx_native_symbols_wrapper.h
  include/sgx/faasm_sgx_system.h
  include/sgx/faasm_sgx_whitelisting.h
  src/runner/CMakeLists.txt
  src/sgx/CMakeLists.txt
  src/sgx/SGXWAMRWasmModule.cpp
  src/sgx/faasm_sgx_attestation.cpp
  src/sgx/faasm_sgx_enclave.cpp
  src/sgx/faasm_sgx_native_symbols.cpp
  src/sgx/faasm_sgx_native_symbols_wrapper.cpp
  src/sgx/faasm_sgx_system.cpp
  src/sgx/sgx_wamr_enclave.cpp
  tests/test/sgx/test_sgx.cpp
  tests/utils/CMakeLists.txt
Labels: bug, sgx

#444 Fix SGX test
  CMakeLists.txt
  cmake/ExternalProjects.cmake
  include/sgx/SGXWAMRWasmModule.h
  include/sgx/faasm_sgx_error.h
  include/sgx/faasm_sgx_native_symbols_wrapper.h
  src/sgx/CMakeLists.txt
  src/sgx/SGXWAMRWasmModule.cpp
  src/sgx/faasm_sgx_enclave.edl
  src/sgx/faasm_sgx_native_symbols.cpp
  src/sgx/faasm_sgx_native_symbols_wrapper.cpp
  src/sgx/faasm_sgx_system.cpp
  src/wamr/CMakeLists.txt
  tests/test/sgx/test_sgx.cpp
Labels: sgx, tests

#445 Add codegen for SGX
  CMakeLists.txt
  README.md
  docs/sgx.md
  faasmcli/faasmcli/tasks/codegen.py
  faasmcli/faasmcli/tasks/run.py
  faasmcli/faasmcli/util/codegen.py
  include/storage/FileLoader.h
  include/wamr/WAMRWasmModule.h
  src/conf/function_utils.cpp
  src/runner/codegen_func.cpp
  src/runner/func_runner.cpp
  src/storage/FileLoader.cpp
  src/wamr/codegen.cpp
Labels: sgx

#446 SGX cleanup
  CMakeLists.txt
  docs/sgx.md
  include/sgx/faasm_sgx_attestation.h
  include/sgx/faasm_sgx_enclave_types.h
  include/sgx/faasm_sgx_whitelisting.h
  src/sgx/CMakeLists.txt
  src/sgx/SGXWAMRWasmModule.cpp
  src/sgx/demo_keymgr.c
  src/sgx/faasm_sgx_enclave.cpp
  src/sgx/faasm_sgx_native_symbols_wrapper.cpp
  src/sgx/faasm_sgx_whitelisting.cpp
  src/wamr/CMakeLists.txt
Labels: sgx
